<h1>Add Review</h1>

<form method="POST" action="/review/add">
    <div>
        <label>Wine:</label>
        <select name="wine">
            <% wines.forEach(function(wine) { %>
                <option value="<%=wine._id%>"><%= wine.name %></option>
           <% }) %>
        </select>
    </div>
    <div>
        <label>Review:</label>
        <textarea name="comment"></textarea>    
    </div>
    <div>
        <label>Rating:</label>
        <input type="number" min="1" max="5" name="rating" placeholder="1 - 5">
    </div>

    <button type="submit">Add Review</button>
</form>