<h1>Reviews</h1>
<table>
    <tr>
        <th>Wine</th>
        <th>Comment</th>
        <th>Rating</th>
    </tr>

    <% reviews.forEach(function(review) { %>
        <tr>
            <td>
                <% review.wine.forEach(function(wine) { %>
                    <%= wine.name %>
                <% }) %>
            </td>
            <td><%= review.comment %></td>
            <td><%= review.rating %></td>
        </tr>
    <% }) %>
</table>