<h1>Reviews</h1>
<table>
    <tr>
        <th>Wine</th>
        <th>Comment</th>
        <th>Rating</th>
    </tr>

    <% reviews.forEach(function(review) { %>
        <tr>
            <td>Wine Name</td>
            <td><%= review.comment %></td>
            <td><%= review.rating %></td>
        </tr>
    <% }) %>
</table>