<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WineTime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b67725e2d.js" crossorigin="anonymous"></script>
</head>
<body>
   <div id="logo">
       <!-- Will swap this out for logo -->
       
   <a href="/" class="noStyle"> <img src="../images/logocropped.png" alt="winetime logo"> </a>
    <h4> It's wine o'clock somewhere! </h4>

   </div>
   
    <nav>
       
        <!-- Log out only appears when a current user -->
        <% if (currentUser) { %>
            
            <div class="iconlinks"> 
                <i class="fa-solid fa-wine-bottle"></i> <a href="/wine/index" class="navlink"> Wines </a> 
                <i class="fa-solid fa-wine-glass"></i> <a href="/review/index" class="navlink"> Reviews </a>
            </div>
            <div>
                <a href="/user/profile" class="navlink">Profile</a>
                <a href="/auth/logout" class="navlink"> Log Out </a> </div>
        
      
            <% } else { %>
                <div class="iconlinks">
                    <i class="fa-solid fa-wine-bottle"></i> <a href="/wine/index" class="navlink"> Wines </a> 
                    <i class="fa-solid fa-wine-glass"></i> <a href="/review/index" class="navlink"> Reviews </a>
                </div>
               <div>
                <a href="/auth/signup" class="navlink"> Sign Up </a>
                <a href="/auth/signin" class="navlink"> Log In </a>
               </div>
                
        <% } %>
    </nav>
    <hr>
    <% if (currentUser) { %>

        <br>
        <div class="add"> 
            <div class="signinmessage">
                Welcome to WineTime, <%= currentUser.firstName %>!
            </div>
            <div>
                <a href="/wine/add" class="btn btn-outline-primary"> Add Wine </a>
                <a href="/review/add" class="btn btn-outline-primary"> Add Review </a>
            </div>

        </div> 

        <% } %>



    <%- body %>
    

    <br><br><br><br><hr><br>
        <footer>

        </footer>
        
  
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
    <script src="../js/main.js"> </script>
</body>
</html>