<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WineApp</title>
</head>
<body>
   <div>
       <!-- Will swap this out for logo -->
    <h1> <a href="/" class="noStyle"> Wine App </a></h1>
   </div>
   
    <nav>
        <a href="#"> Wines </a>
        <a href="#"> Reviews </a>
        <!-- Sign up/log in only appears when NOT a current user -->
        <a href="/auth/signup"> Sign Up </a>
        <a href="#"> Log In </a>
        <!-- Log out only appears when a current user -->
        <a href="#"> Log Out </a>

    </nav>

    <div> 
        <a href="#"> Add Wine </a>
        <a href="#"> Add Review </a>
    </div> 
   

    <hr>

    <%- body %>

    
</body>
</html>