<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WineTime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
   <div id="logo">
       <!-- Will swap this out for logo -->
    <h1> <a href="/" class="noStyle"> WineTime </a></h1>
    <h4> It's wine o'clock somewhere! </h4>
   </div>
   
    <nav>
       
        <!-- Log out only appears when a current user -->
        <% if (currentUser) { %>
            
            <div> 
                <a href="/wine/index"> Wines </a>
                <a href="/review/index"> Reviews </a>
            </div>
            <div>
                Hi! <%= currentUser.firstName %>
                <a href="/user/profile">Profile</a>
                <a href="/auth/logout"> Log Out </a> </div>
        
      
            <% } else { %>
                <div>
                    <a href="/wine/index"> Wines </a>
                    <a href="/review/index"> Reviews </a>
                </div>
               <div>
                <a href="/auth/signup"> Sign Up </a>
                <a href="/auth/signin"> Log In </a>
               </div>
                
        <% } %>
    </nav>
    <hr>
    <% if (currentUser) { %>

        <br>
        <div class="add"> 
            <a href="/wine/add" class="btn btn-outline-primary"> Add Wine </a>
            <a href="/review/add" class="btn btn-outline-primary"> Add Review </a>
        </div> 

        <% } %>



    <%- body %>
    

    <br><br><br><br><hr><br>
        <footer>
            <a href="https://git.generalassemb.ly/ailishmcl"> Git Hub </a>
        </footer>
        
  
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
    <script src="../js/main.js"> </script>
</body>
</html>