<h1> Change Password </h1>

<form method="POST" action="/user/updatePassword?_method=PUT">

    <div class="form-group">
        <label> Current Password: </label>
        <input type="password" name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label> New Password: </label>
        <input type="password" name="newPassword" class="form-control" />
    </div>
    
    <input type="hidden" name="id" value="<%= currentUser._id%>" /> 
    <button type="submit" class="btn btn-primary"> Change Password </button>

</form>