<h1> Change Password </h1>

<form method="POST" action="/user/update?_method=PUT">

    <div>
        <label> Current Password: </label>
        <input type="text" name="password" />
    </div>
    <div>
        <label> New Password: </label>
        <input type="text" name="password" />
    </div>

    <button type="submit"> Change Password </button>

</form>